

/*noinspection CssUnusedSymbol*/
.not-filled {
    background-color: #d48184;
}

header {
    margin-bottom: 20px;
    text-align: center;
}

#config-container {
    margin-top: 20px;
}

#ranking-container {
    text-align: center;
    padding-top: 10px;
    height: 500px;
    overflow-y: scroll;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

#ranking-container > h1 {
    text-align: center;
}

#ranking-container > table {
    text-align: center;
    margin: auto;
    border-spacing: 0 15px;
}

#ranking-table  h2 {
    font-size: 1.2em;
}

#play-game-button {
    margin-top: 20px;
}

#config-container {
    margin: auto;
    text-align: center;
    width: 300px;
}

#server-switch {
    display: inline-block;
    margin-top: 10px;
}

#username-field-label {
    display: block;
    width: 200px;
    margin: 10px auto auto;
}

#username-field {
    width: 100%;
}

#username-error {
    height: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
}

/*noinspection CssUnusedSymbol*/
#username-error.error-shown {
    height: 100%;
    opacity: 1;
    visibility: visible;
    display: block;
    background-color: #d48184;
    color: white;
    width: 100%;
    border-radius: 3px;
    transform-origin: center top;
    transition: visibility 0s, opacity 2s linear;
}