* {
}

header {
    margin-bottom: 20px;
    text-align: center;
    background-color: antiquewhite;
}

#game-body {
    padding-left: 100px;
    padding-right: 100px;
    display:flex;
    min-height: 720px;
    height: 90%;
}

#game-history {
    padding: 5px;
    background-color: #d48184;
    width: 225px;
}

#play-zone {
    padding: 5px;
    background-color: aquamarine;
    width: 100%;
}

body {
    min-width: 960px;
}

#play-pc-area {
    background-color: coral;
    height: 40%;
}

#play-user-area {
    height: 50%;
    background-color: crimson;
}

#play-border-area {
    height: 10%;
    background-color: darkorange;

}
